################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/LaboratorioComponentes/FileContentIndex/eace8c92-a0e0-43db-8f15-94c65e6479ae.vsidx
/.vs